# Server Configuration
PORT=3001

# Database Configuration
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=rootpassword
DB_NAME=deltagroup_news

# JWT Configuration
JWT_SECRET=secret
JWT_EXPIRATION=7d
